@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500..');
body{
    width: 1920px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
main{
    background-image: url(../img/girl.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 1800px;
}
h1{
    color:  #101b4b;
    margin-top: 200px;
}
.welcome{
    margin-top: 260px;
}
.welcome-word{
    text-align: left;
    width: 540px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
main img{
    height: 40px;
    width: 40px;
}
.welcome-txt{
    color: #505F98;
}
h4{
    color: #101b4b;
}
h1{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 50px;
}
.w-description{
    font-size: 18px;
}
.button{
    margin-top: 69px;
    text-align: left;
}
main{
    width: 1400px;
    height: 1103px;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
}
